<h2> Python Basics

I. Cobalah print kalimat "Hello, my name is ***nama anda***" dengan minimal 2 cara: <br>
a.   Print biasa (nama diletakkan langsung dalam string yang di print)<br>
b.  Menggunakan variabel (nama disimpan dulu di variabel)<br>
c.  Menggunakan operator dan variabel<br>
d.  Menggunakan .format()

In [1]:
print("Hello, my name is Theo")
name = "Theo"
print("Hello, my name is", name)
name = "Theo"
print("Hello, my name is " + name)
name = "Theo"
print("Hello, my name is {}".format(name))

Hello, my name is Theo
Hello, my name is Theo
Hello, my name is Theo
Hello, my name is Theo

II. Selesaikan soal cerita berikut menggunakan python:<br>
a.  Jose membeli 4 kotak kelereng, tiap kotak berisi 15 buah kelereng. Kelereng itu akan dibagikan kepada 12 orang temannya, setiap teman akan mendapat ... kelereng.<br>
b.  Hasil dari 8 pangkat 1/3 adalah ...<br>
c.  Eillen memiliki uang sebesar Rp 50.000 untuk dibelanjakan kertas binder, 1 paket kertas binder isi 100 lembar dijual seharga 7500, jika ia ingin membeli berapa kertas binder yang dapat ia beli dengan uang yang ia punya? Berapa kembalian yang diterima?

In [2]:
# a. Menghitung pembagian kelereng menggunakan emoji
total_kelereng = 4 * 15
jumlah_teman = 12
kelereng_per_teman = total_kelereng // jumlah_teman
print("ðŸ¬ Jose membeli 4 kotak kelereng berisi 15 buah tiap kotak.")
print(f"Setiap teman Jose akan mendapat: {kelereng_per_teman} kelereng ðŸŽ.")

# b. Menghitung pangkat dengan gaya dialog
print("\nðŸ”¢ Mari kita hitung pangkat pecahan!")
hasil_pangkat = 8 ** (1/3)
print(f"Hasil dari 8 pangkat 1/3 adalah: {hasil_pangkat:.2f}. Ya, hasilnya adalah akar kubik dari 8!")

# c. Interaktif dengan input dari user
print("\nðŸ’µ Mari kita bantu Eillen belanja!")
uang_eillen = 50000
harga_per_paket = 7500
jumlah_paket = uang_eillen // harga_per_paket
kembalian = uang_eillen - (jumlah_paket * harga_per_paket)

print(f"Eillen dapat membeli {jumlah_paket} paket kertas binder ðŸ“š.")
print(f"Setelah belanja, ia akan menerima kembalian sebesar: Rp {kembalian} ðŸ’¸.")

ðŸ¬ Jose membeli 4 kotak kelereng berisi 15 buah tiap kotak.
Setiap teman Jose akan mendapat: 5 kelereng ðŸŽ.

ðŸ”¢ Mari kita hitung pangkat pecahan!
Hasil dari 8 pangkat 1/3 adalah: 2.00. Ya, hasilnya adalah akar kubik dari 8!

ðŸ’µ Mari kita bantu Eillen belanja!
Eillen dapat membeli 6 paket kertas binder ðŸ“š.
Setelah belanja, ia akan menerima kembalian sebesar: Rp 5000 ðŸ’¸.

III. Tunjukan cara untuk mengonversi tipe-tipe data berikut:

1. "1000" -> 1000 (string ke int)
2. 5.25 -> 5 (float ke int)
3. 5 -> 5.0 (int ke float)
4. 1000 -> "1000" (int ke string)

Expected output:


![image.png]()

In [3]:
# String ke int
string_to_int = int("1000")
print(f'{string_to_int} {type(string_to_int)}')

# Float ke int
float_to_int = int(5.25)
print(f'{float_to_int} {type(float_to_int)}')

# Int ke float
int_to_float = float(5)
print(f'{int_to_float} {type(int_to_float)}')

# Int ke string
int_to_string = str(1000)
print(f'{int_to_string} {type(int_to_string)}')

1000 <class 'int'>
5 <class 'int'>
5.0 <class 'float'>
1000 <class 'str'>

IV. String

"If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."

1. Tampilkan indeks ke 20 sampai 30 dari string di atas (indeks ke 30 ikut)
2. Bagaimana cara memisah string berdasarkan spasi (simpan dalam list)
3. Balik string di atas dengan menggunakan satu baris kode (menggunakan index)

In [5]:
# Tampilkan indeks ke 20 sampai 30 dari string di atas (indeks ke 30 ikut)
text = "If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."
substring = text[20:31]  # 31 karena indeks akhir tidak inklusif
print(substring)
# Bagaimana cara memisah string berdasarkan spasi (simpan dalam list)
words = text.split()
print(words)
# Balik string di atas dengan menggunakan satu baris kode (menggunakan index)
text = "If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."
reversed_text = text[::-1]
print(reversed_text)

what a man'
['If', 'you', 'want', 'to', 'know', 'what', 'a', "man's", 'like,', 'take', 'a', 'good', 'look', 'at', 'how', 'he', 'treats', 'his', 'inferiors,', 'not', 'his', 'equals.']
.slauqe sih ton ,sroirefni sih staert eh woh ta kool doog a ekat ,ekil s'nam a tahw wonk ot tnaw uoy fI

<h2> Python Data Strcutures

I. Tuple


1.   Buatlah sebuah tuple yang berisikan nama prodi di UC, simpan dalam variabel "Prodi".
2.   Cetaklah panjang tuple yang dibuat.
3.   Gunakan .index() untuk mengetahui posisi/index prodi ISB

In [6]:
# Membuat tuple berisikan nama prodi di UC
Prodi = ("Sistem Informasi", "Teknik Informatika", "Manajemen", "Akuntansi", "ISB" , "FDB" , "VCD" , "CB" , "HTB" , "Doctor" , "Psy")

# Mencetak panjang tuple
print("Panjang tuple:", len(Prodi))

# Mengetahui posisi/index prodi "ISB"
index_isb = Prodi.index("ISB")
print("Posisi prodi ISB:", index_isb)

Panjang tuple: 11
Posisi prodi ISB: 4

II. List


1.   Buatlah sebuah list berisi 3 nama makanan kesukaanmu. Simpan dalam variabel "favorit".
2.   Cetak nama setiap makanan dengan mengakses setiap elemen dalam list satu persatu.
3. Kamu sedang berada di sebuah restoran dan hendak memesan salah satu menu yang ada dalam daftar favoritmu. Cetak setiap makanan dengan contoh: "Aku ingin pesan {nama makanan}"
4.   Ternyata, salah satu menu tidak tersedia, jadi kamu perlu memesan makanan lain. Ganti makanan yang kosong dengan nama makanan baru (makanan yang mana bebas)

In [7]:
favorit = ("Nasgor", "Kecoak Goreng", "Alpukat Crispy")

# Mencetak elemen dengan format yang diinginkan
print("DAFTAR MENU CAK BERNADUS")
print(f"1. {favorit[0]}")
print(f"2. {favorit[1]}")
print(f"3. {favorit[2]}")

# Kamu sedang berada di sebuah restoran dan hendak memesan salah satu menu yang ada dalam daftar favoritmu. Cetak setiap makanan dengan contoh: "Aku ingin pesan {nama makanan}"
print(f"Aku ingin pesan {favorit[1]}")
# Ternyata, salah satu menu tidak tersedia, jadi kamu perlu memesan makanan lain. Ganti makanan yang kosong dengan nama makanan baru (makanan yang mana bebas)
print(f"Aku ingin pesan {favorit[0]}")

DAFTAR MENU CAK BERNADUS
1. Nasgor
2. Kecoak Goreng
3. Alpukat Crispy
Aku ingin pesan Kecoak Goreng
Aku ingin pesan Nasgor

III. Set

1. Buatlah 4 buah set sebagai berikut


    set1 = {1, 2, 3, 4}
    set2 = {2, 4, 6, 8}
    set3 = {5, 7}
    set4 = {2, 3}
2. Gabungkan set1 dan set2 dengan menghilangkan duplicates
3. Buktikan set1 dan set3 tidak mempunyai intersection (output : Boolean)
4. Buktikan set4 adalah bagian dari set1 (output : Boolean)

In [8]:
# Membuat 4 buah set
set1 = {1, 2, 3, 4}
set2 = {2, 4, 6, 8}
set3 = {5, 7}
set4 = {2, 3}

# Menggabungkan set1 dan set2 dengan menghilangkan duplikat
set_union = set1.union(set2)
print(set_union)  # Outputnya: {1, 2, 3, 4, 6, 8}

# Membuktikan set1 dan set3 tidak mempunyai intersection (output: Boolean)
no_intersection = set1.isdisjoint(set3)
print(no_intersection)  # Outputnya: True

# Membuktikan set4 adalah bagian dari set1 (output: Boolean)
is_subset = set4.issubset(set1)
print(is_subset)  # Outputnya: True

{1, 2, 3, 4, 6, 8}
True
True

<h2> Python Programming Fundamentals

I. Buatlah sebuah program sederhana yang meminta inputan dari user berupa jumlah penggunaan listrik dan menghasilkan output berupa tarif yang harus dibayar dengan syarat sebagai berikut:

PLN menerapkan pembayaran listrik perumahan dengan perhitungan sebagai berikut:
* untuk golongan 1 (penggunaan <1000 kWh) tarif : Rp1000/kWh
* untuk golongan 2 (penggunaan >= 1000 kWh) tarif : Rp2000/kWh

Dengan syarat perhitungan:

Minimum pembayaran adalah 100 kWh sedangkan untuk pemakaian 1000 kWh dan seterusnya tarifnya ditambah 10% dari total pembayaran.

(Jika total penggunaan <100 kWh, maka akan dikenakan tarif 100 kWh)

In [18]:
# Program untuk menghitung tarif listrik

# Meminta inputan jumlah penggunaan listrik dari user
penggunaan = 1500
tarif = 0

# Perhitungan tarif berdasarkan golongan
if penggunaan < 100:
    penggunaan = 100  # Minimum penggunaan 100 kWh
    tarif = penggunaan * 1000  # Tarif untuk minimum 100 kWh
elif penggunaan < 1000:
    tarif = penggunaan * 1000  # Golongan 1 (penggunaan < 1000 kWh)
else:
    tarif = penggunaan * 2000  # Golongan 2 (penggunaan >= 1000 kWh)
    tarif += tarif * 0.1  # Tambah 10% dari total tarif

# Menampilkan hasil
print(f"Tarif yang harus dibayar: Rp {tarif}")

Tarif yang harus dibayar: Rp 3300000.0

II. Untuk Abdimas Oweek UC digunakan angkot dengan kapasitas 10 orang per angkot. Apabila terjadi kelebihan penumpang (walau hanya 1 orang), angkot yang digunakan ditambah 1. Tulislah program untuk menghitung jumlah angkot yang diperlukan bila jumlah pesertanya menggunakan input().

Catatan, pastikan jika angka yang dimasukkan negatif, muncul peringatan "Jumlah orang tidak bisa negatif!"

In [28]:
# Program untuk menghitung jumlah angkot yang diperlukan

# Kapasitas angkot
kapasitas = 10

# Meminta input jumlah peserta
jumlah_peserta = int(input("Masukkan jumlah peserta: "))

# Cek apakah jumlah peserta negatif
if jumlah_peserta < 0:
    print("Jumlah orang tidak bisa negatif!")
else:
    # Menghitung jumlah angkot yang diperlukan
    angkot_diperlukan = (jumlah_peserta + kapasitas - 1) // kapasitas  # Menggunakan pembulatan ke atas
    
    # Menampilkan hasil
    print(f"Jumlah angkot yang diperlukan: {angkot_diperlukan}")

Masukkan jumlah peserta:  11

Jumlah angkot yang diperlukan: 2

<h2> Numpy

1. Buatlah 1D numpy array berisi nama nama hari dalam satu minggu
2. Gunakan sort untuk mengurutkan array sesuai abjad
3. Gunakan rand untuk mengambil 1 hari dari array, cetakhlah dalam format: "Selamat hari \<nama hari\> adalah hari baikmu bulan ini!"
4. Buatlah matriks 3x4 menggunakan numpy array berisi angka 1-6, lalu cetak shape dan dimensi array
5. Cetaklah elemen kolom ketiga dari matrix

    [[1 ,2, 3, 4],

    [5, 6, 7, 8],

    [9, 10, 11, 12]]
6. Gunakan reshape untuk mengubah matrix di atas menjadi matriks berukuran (2, 6)

In [29]:
# 1
import numpy as np
import random

# Membuat numpy array berisi nama-nama hari dalam satu minggu
hari = np.array(["Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu", "Minggu"])
print(hari)

['Senin' 'Selasa' 'Rabu' 'Kamis' 'Jumat' 'Sabtu' 'Minggu']

In [30]:
# 2
hari_sorted = np.sort(hari)
print(hari_sorted)

['Jumat' 'Kamis' 'Minggu' 'Rabu' 'Sabtu' 'Selasa' 'Senin']

In [31]:
import random
# 3
hari_random = random.choice(hari_sorted)
print(f"Selamat hari {hari_random}, adalah hari baikmu bulan ini!")

Selamat hari Jumat, adalah hari baikmu bulan ini!

In [33]:
# 4
import numpy as np

# Membuat numpy array 3x2 berisi angka 1-6
matrix = np.array([[1, 2], [3, 4], [5, 6]])


# Mencetak shape dari array
print("Shape:", matrix.shape)

# Mencetak dimensi dari array
print("Dimensi:", matrix.ndim)

Shape: (3, 2)
Dimensi: 2

In [34]:
# 5
import numpy as np

# Membuat numpy array 3x4
matrix = np.array([[1, 2, 3, 4],
                   [5, 6, 7, 8],
                   [9, 10, 11, 12]])

# Mencetak elemen kolom ketiga
# Indeks kolom ketiga adalah 2 (indeks dimulai dari 0)
kolom_ketiga = matrix[:, 2]

print("Elemen kolom ketiga:", kolom_ketiga)

Elemen kolom ketiga: [ 3  7 11]

In [35]:
# 6
import numpy as np

# Membuat numpy array 3x4
matrix = np.array([[1, 2, 3, 4],
                   [5, 6, 7, 8],
                   [9, 10, 11, 12]])

# Mengubah matriks menjadi ukuran 2x6
matrix_reshaped = matrix.reshape(2, 6)

# Mencetak matriks yang telah diubah
print("Matriks setelah diubah menjadi ukuran 2x6:\n", matrix_reshaped)

Matriks setelah diubah menjadi ukuran 2x6:
 [[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]

<h2> Pandas

1. Buatlah Pandas Series dari list ["Information", "Systems", "for", "Business"]
2. Buatlah Pandas Dataframe dari dictionary
{ "brand": "Ford", "model": "Mustang", "year": 1964 }

In [36]:
import pandas as pd

# Membuat list
data = ["Information", "Systems", "for", "Business"]

# Membuat Pandas Series dari list
series = pd.Series(data)

# Mencetak Pandas Series
print(series)

import pandas as pd

# Membuat dictionary
data = { "brand": ["Ford"], "model": ["Mustang"], "year": [1964] }

# Membuat Pandas DataFrame dari dictionary
df = pd.DataFrame(data)

# Mencetak Pandas DataFrame
print(df)

0    Information
1        Systems
2            for
3       Business
dtype: object
  brand    model  year
0  Ford  Mustang  1964

3. Import dataset berikut kedalam dataframe.    
dataset : https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv
4. Tunjukan kota apa saja yang ada dalam dataset tersebut
5. Buatlah dataset baru yang menyimpan 10 row random dari dataset. Kemudian tunjukanlah 5 row pertamanya.
6. Gunakan df.info() untuk melihat informasi singkat dari dataframe
7. Tampilkan data 'R&D Spend' dan 'Marketing Spend' dari data yang berasal dari kota 'California'
8. Temukan apa ada missing value dari setiap kolom
9. Drop data yang memiliki profit di bawah 50000
10. Urutkan Dataframe berdasarkan biaya marketing mulai dari terbesar ke terkecil

In [37]:
# 3
import pandas as pd

# URL dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv"

# Membaca dataset dari URL ke dalam Pandas DataFrame
df = pd.read_csv(url)

# Menampilkan beberapa baris pertama dari DataFrame untuk memastikan data terimpor dengan benar
print(df.head())

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [40]:
# 4
kota_unik = df['State'].unique()

print(kota_unik)

Kota-kota dalam dataset:
['New York' 'California' 'Florida']

In [43]:
# 5
import pandas as pd

# URL dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv"

# Membaca dataset dari URL ke dalam Pandas DataFrame
df = pd.read_csv(url)

# Mengambil 10 baris acak dari dataset
df_random_sample = df.sample(n=10, random_state=42)  # random_state untuk hasil yang konsisten

# Menampilkan 5 baris pertama dari dataset acak
print("5 baris pertama dari dataset acak:")
print(df_random_sample.head())

5 baris pertama dari dataset acak:
    R&D Spend  Administration  Marketing Spend       State     Profit
13   91992.39       135495.07        252664.93  California  134307.35
39   38558.51        82982.09        174999.30  California   81005.76
30   61994.48       115641.28         91131.24     Florida   99937.59
45    1000.23       124153.04          1903.93    New York   64926.08
17   94657.16       145077.58        282574.31    New York  125370.37

In [45]:
# 6
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [46]:
# 7
# 6
import pandas as pd

# URL dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv"

# Membaca dataset dari URL ke dalam Pandas DataFrame
df = pd.read_csv(url)

# Filter baris yang berasal dari state 'California'
df_california = df[df['State'] == 'California']

# Menampilkan kolom 'R&D Spend' dan 'Marketing Spend'
result = df_california[['R&D Spend', 'Marketing Spend']]

print("Data kolom 'R&D Spend' dan 'Marketing Spend' untuk state = 'California':")
print(result)

Data kolom 'R&D Spend' dan 'Marketing Spend' untuk state = 'California':
    R&D Spend  Marketing Spend
1   162597.70        443898.53
6   134615.46        127716.82
9   123334.88        304981.62
11  100671.96        249744.55
13   91992.39        252664.93
16   78013.11        264346.06
20   76253.86        298664.47
25   64664.71        137962.62
32   63408.86         46085.25
34   46426.07        210797.67
37   44069.95        197029.42
39   38558.51        174999.30
40   28754.33        172795.67
42   23640.93        148001.11
44   22177.74         28334.72
47       0.00             0.00
49       0.00         45173.06

In [47]:
# 8
import pandas as pd

# URL dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv"

# Membaca dataset dari URL ke dalam Pandas DataFrame
df = pd.read_csv(url)

# Mengecek missing values di setiap kolom
missing_values = df.isnull().sum()

print("Jumlah missing values per kolom:")
print(missing_values)

Jumlah missing values per kolom:
R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [48]:
# 9
import pandas as pd

# URL dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv"

# Membaca dataset dari URL ke dalam Pandas DataFrame
df = pd.read_csv(url)

# Menampilkan beberapa baris pertama untuk memahami struktur data
print("Data sebelum dihapus:")
print(df.head())

# Menghapus baris yang memiliki profit di bawah 50.000
df_filtered = df[df['Profit'] >= 50000]

# Menampilkan beberapa baris pertama dari DataFrame yang telah difilter
print("\nData setelah menghapus baris dengan profit di bawah 50.000:")
print(df_filtered.head())

Data sebelum dihapus:
   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

Data setelah menghapus baris dengan profit di bawah 50.000:
   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [49]:
# 10
import pandas as pd

# URL dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv"

# Membaca dataset dari URL ke dalam Pandas DataFrame
df = pd.read_csv(url)

# Mengurutkan DataFrame berdasarkan 'Marketing Spend' dari terbesar ke terkecil
df_sorted = df.sort_values(by='Marketing Spend', ascending=False)

# Menampilkan beberapa baris pertama dari DataFrame yang telah diurutkan
print("Data setelah diurutkan berdasarkan 'Marketing Spend' dari terbesar ke terkecil:")
print(df_sorted.head())

Data setelah diurutkan berdasarkan 'Marketing Spend' dari terbesar ke terkecil:
   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

<h2> Data Cleaning

1. Import dataset berikut ke dalam dataframe.   
   dataset : https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/real_estate.csv
2. Tampilkan 10 data random dari dataset di atas
3. Cari informasi data dengan menggunakan fungsi describe
4. Hapus kolom 'No' dan ubahlah nama kolom dalam dataframe menjadi 'transaction date', 'house age', 'distance to the nearest MRT station', 'number of convinience stores', 'latitude', 'longitude', 'house price of unit area'
5. Cek apakah ada missing values dari masing-masing kolom

In [61]:
import pandas as pd

# URL dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/real_estate.csv"

# Membaca dataset dari URL ke dalam Pandas DataFrame
df_real_estate = pd.read_csv(url)

# Menampilkan DataFrame dalam format tabel
(df_real_estate)  # Menggunakan .to_string() untuk output yang lebih lengkap di terminal

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...,...
409,410,2013.000,13.7,4082.01500,0,24.94155,121.50381,15.4
410,411,2012.667,5.6,90.45606,9,24.97433,121.54310,50.0
411,412,2013.250,18.8,390.96960,7,24.97923,121.53986,40.6
412,413,2013.000,8.1,104.81010,5,24.96674,121.54067,52.5
413,414,2013.500,6.5,90.45606,9,24.97433,121.54310,63.9

In [62]:
# 2
import pandas as pd

# URL dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/real_estate.csv"

# Membaca dataset dari URL ke dalam Pandas DataFrame
df_real_estate = pd.read_csv(url)

# Mengambil 10 baris acak dari dataset
df_random_sample = df_real_estate.sample(n=10, random_state=42)  # random_state untuk hasil yang konsisten

# Menampilkan 10 baris acak
(df_random_sample)

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
358,359,2013.167,1.1,193.58450,6,24.96571,121.54089,45.1
350,351,2013.000,13.2,492.23130,5,24.96515,121.53737,42.3
373,374,2013.083,0.0,274.01440,1,24.97480,121.53059,52.2
399,400,2012.917,12.7,170.12890,1,24.97371,121.52984,37.3
369,370,2012.667,20.2,2185.12800,3,24.96322,121.51237,22.8
72,73,2013.583,32.5,424.54420,8,24.97587,121.53913,36.3
262,263,2012.917,15.9,289.32480,5,24.98203,121.54348,53.0
140,141,2013.250,16.2,289.32480,5,24.98203,121.54348,51.4
93,94,2012.917,31.9,1146.32900,0,24.94920,121.53076,16.1
70,71,2013.583,6.6,90.45606,9,24.97433,121.54310,59.0

In [65]:
import pandas as pd

# URL dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/real_estate.csv"

# Membaca dataset dari URL ke dalam Pandas DataFrame
df_real_estate = pd.read_csv(url)

# Menggunakan describe() untuk mendapatkan statistik deskriptif
df_description = df_real_estate.describe()

# Menampilkan statistik deskriptif
(df_description)

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000
mean,207.500000,2013.148971,17.712560,1083.885689,4.094203,24.969030,121.533361,37.980193
std,119.655756,0.281967,11.392485,1262.109595,2.945562,0.012410,0.015347,13.606488
min,1.000000,2012.667000,0.000000,23.382840,0.000000,24.932070,121.473530,7.600000
25%,104.250000,2012.917000,9.025000,289.324800,1.000000,24.963000,121.528085,27.700000
50%,207.500000,2013.167000,16.100000,492.231300,4.000000,24.971100,121.538630,38.450000
75%,310.750000,2013.417000,28.150000,1454.279000,6.000000,24.977455,121.543305,46.600000
max,414.000000,2013.583000,43.800000,6488.021000,10.000000,25.014590,121.566270,117.500000

In [67]:
# 4
import pandas as pd

# URL dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/real_estate.csv"

# Membaca dataset dari URL ke dalam Pandas DataFrame
df_real_estate = pd.read_csv(url)

# Menghapus kolom 'No'
df_real_estate = df_real_estate.drop(columns=['No'])

# Mengubah nama kolom
df_real_estate.columns = [
    'transaction date', 
    'house age', 
    'distance to the nearest MRT station', 
    'number of convenience stores', 
    'latitude', 
    'longitude', 
    'house price of unit area'
]

# Menampilkan DataFrame dengan perubahan
print("DataFrame setelah menghapus kolom 'No' dan mengubah nama kolom:")
(df_real_estate.head())

DataFrame setelah menghapus kolom 'No' dan mengubah nama kolom:

,transaction date,house age,distance to the nearest MRT station,number of convenience stores,latitude,longitude,house price of unit area
0,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [69]:
# 5
import pandas as pd

# URL dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/real_estate.csv"

# Membaca dataset dari URL ke dalam Pandas DataFrame
df_real_estate = pd.read_csv(url)

# Menghapus kolom 'No'
df_real_estate = df_real_estate.drop(columns=['No'])

# Mengubah nama kolom
df_real_estate.columns = [
    'transaction date', 
    'house age', 
    'distance to the nearest MRT station', 
    'number of convenience stores', 
    'latitude', 
    'longitude', 
    'house price of unit area'
]

# Mengecek missing values di setiap kolom
missing_values = df_real_estate.isnull().sum()

(missing_values)

transaction date                       0
house age                              0
distance to the nearest MRT station    0
number of convenience stores           0
latitude                               0
longitude                              0
house price of unit area               0
dtype: int64

## **Goodluck :)**